html,
body {
    margin: 0;
    position: relative;
    height: 100%;
}

.root {
    position: relative;
}

.top-logo1 {
    width: 80px;
    height: 60px;
    margin: 30px 10px;
}

.top-logo2 {
    width: 40px;
    height: 40px;
    margin: 40px 30px;
    animation: xz 1s linear infinite;
}

@keyframes xz {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    color: #333333;
    margin: -15px 100px;
    display: inline-flex;
}

.header a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    font-size: 16px;
    margin-left: 60px;
    white-space: nowrap;
}

.header li a.active {
    color: #118eea;
    text-decoration: none;
}

.items {
    list-style-type: none;
    display: flex;
    font-size: 18px;
}

.items li {
    margin: 25px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-img {
    width: 100%;
    height: 550px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcher-border {
    padding: 0 230px;
    border-top: solid 0px;
    border-bottom: solid 1px #e5e5e5;
    height: 80px;
}

.search-pic {
    text-align: center;
    margin-top: 90px;
}

.search p {
    font-family: MicrosoftYaHei;
    font-size: 22px;
    letter-spacing: 2px;
    color: #666666;
}

.searcher {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 50px;
    display: flex;
    align-items: center;
}

.searcher input {
    background-image: url("../images/hover.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px;
    margin-top: 1px;
    margin-left: 50px;
    height: 45px;
    width: 662px;
    font-size: 20px;
    outline: none;
    flex: 1;
    border: solid 1px #e5e5e5;
    padding-left: 40px;
    border-radius: 8px;
}

.searcher input:focus {
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 0.1em rgba(3, 102, 214, .3);
}

.btc {
    width: 150px;
    height: 50px;
    background-color: #118eea;
    border-radius: 6px;
    color: #e5e5e5;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 20px;
}

.background-pic {
    height: 500px;
    text-align: center;
    background-image: url('../images/timg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px 500px;
    opacity: 0.8;
}

.bg-header {
    font-style: italic;
    font-size: 20px;
    color: blue;
}

.bg-text {
    width: 800px;
    margin: 10px auto;
    line-height: 36px;
    text-align: left;
    text-indent: 2em;
    color: black;
}

.body-pic {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.footer {
    background-color: rgba(32, 33, 36, .28);
    height: 250px;
    width: 100%;
    text-align: center;
    margin-top: 500px;
}